.object {
  text-align: center;
  color: #7482B9;
  background-color: #159CC1;
  margin: 1px 1px 1px 1px;
  border: solid 5px;
}
header{
  background-color: #D1A1A1

}
footer {
  background-color: #511919


}
.html {
  color: #2BB0D5;
}
::selection {
  color: red;
}
.center {
  text-align: center;
  font-family: fantasy;
  color: #7482B9;
  padding: 1px 1px 1px 1px;
}
.info {
  font-family: cursive;
  font-style: italic;
  color: blue;

}
.img {
  float: right;

}
li {
  font-style: italic;
}
.object {
  font-family: fantasy;
}
.education {
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  color: #7482B9;
}
#title {
  font-family: fantasy;
  text-align: center;
  font-weight: bold;
  color: #7482B9;
}
.footer {
  border: 2px;
  color: #421515;

}
.link-youtube {
  text-align: right;

}
